@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #0B0F19;
  color: #E2E8F0;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #0B0F19;
}
::-webkit-scrollbar-thumb {
  background: #1F293D;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00E5FF;
}

.leaflet-container {
  background-color: #0B0F19 !important;
}